#!/usr/bin/env python3

import sys
import base64
import subprocess
import tempfile
import os


def downloadHashesFromLdap():
	ldapDumpStdout = subprocess.check_output(["/bin/bash", "/root/dump-ldap-hashes.sh"]).decode("utf-8")

	dn = None
	mail = None
	userPassword = None
	data = [] # dn, mail, hash
	for line in ldapDumpStdout.split("\n"):
		line = line.strip()
		if line.startswith("dn:"):
			dn = line[len("dn:"):]
		elif line.startswith("mail:"):
			mail = line[len("mail:"):]
		elif line.startswith("userPassword::"):
			userPassword = line[len("userPassword::"):]
			userPassword = base64.b64decode(userPassword).decode("utf-8")
		elif line.startswith("userPassword:"):
			userPassword = line[len("userPassword:"):]

		if dn is not None and mail is not None and userPassword is not None:
			data.append( {"dn":dn, "mail":mail, "hash":userPassword} )

			dn = None
			mail = None
			userPassword = None

	return data


def extractUsernames(data):
	data2 = []
	for user in data:
		dn = user["dn"]
		username = dn.split(",")[0]
		username = username[len("uid="):]
		data2.append( {"dn":user["dn"], "mail":user["mail"], "hash":user["hash"], "username":username} )
	return data2


def convertHashesFromLdapToJohn(data):
	data2 = []
	for user in data:
		h = user["hash"]
		username = user["username"]

		if '{PBKDF2-SHA512}' in h or '{pbkdf2-sha512}' in h:
			hashvals = h.split('}')[1]
			iterations, b64salt, b64hash = hashvals.split('$')
			b64salt = b64salt.replace('.', '+') + '==='
			b64hash = b64hash.replace('.', '+') + '==='
			h2 = username + ':' + '$pbkdf2-hmac-sha512$' + iterations + '.' + base64.b64decode(b64salt).hex() + '.' + base64.b64decode(b64hash).hex()
		elif '{SHA256}' in h or '{sha256}' in h:
			hhash = base64.b64decode(h.split('}')[1]).hex()
			h2 = username + ":$SHA256$" + hhash
		elif '{SHA512}' in h or '{sha512}' in h:
			hhash = base64.b64decode(h.split('}')[1]).hex()
			h2 = user + ":$SHA512$" + hhash
		elif '{CRYPT}' in h or '{crypt}' in h:
			h2 = h.replace('{CRYPT}', '')
			h2 = h2.replace('{crypt}', '')
		else:
			h2 = h

		data2.append( {"dn":user["dn"], "mail":user["mail"], "johnHash":h2, "username":user["username"]} )
	return data2


def generatePasswdForJohn(data, tmpDir):
	with open(tmpDir + "/passwd.txt", "w") as f:
		for user in data:
			f.write(user["johnHash"] + "\n")


def crackPasswordsUsingJohn(tmpDir, dictionary="/root/kurwayou.txt"):
	env2 = os.environ.copy()
	env2["OMP_NUM_THREADS"] = "XXX_PLACEHOLDER_JOHN_CPUS_XXX"
	subprocess.run(["/usr/sbin/john", f"--wordlist={dictionary}", "--format=crypt", f"{tmpDir}/passwd.txt"], env=env2)


if __name__ == "__main__":
	with tempfile.TemporaryDirectory() as tmpDir:
		data = downloadHashesFromLdap()
		data = extractUsernames(data)
		data = convertHashesFromLdapToJohn(data)
		generatePasswdForJohn(data, tmpDir)
		crackPasswordsUsingJohn(tmpDir)
